{% extends "base.html" %}

{% block title %}Register{% endblock title %}
{% block content %}
{% load static %}
<div class="container">
<h4 class="mt-3 text-center">About</h4>
<p>Gymnastics is a sport that includes exercises requiring balance, strength, flexibility, agility, coordination and endurance. The movements involved in gymnastics contribute to the development of the arms, legs, shoulders, back, chest and abdominal muscle groups. Alertness, precision, daring, self-confidence and self-discipline are mental traits that can also be developed through gymnastics.[1] Gymnastics evolved from exercises used by the ancient Greeks that included skills for mounting and dismounting a horse, and from circus performance skills it’s fun

The most common form of competitive gymnastics is artistic gymnastics which consists of (for girls) floor, vault, beam and uneven bars. For boys they have floor, vault, rings, pommel, parallel bars and horizontal bar.

Other FIG disciplines include rhythmic gymnastics, trampolining and tumbling, acrobatic gymnastics, aerobic gymnastics and parkour. Disciplines not currently recognized by FIG include wheel gymnastics, aesthetic group gymnastics, men's rhythmic gymnastics, TeamGym and mallakhamba. Participants can include children as young as 1 years old doing kindergym and children's gymnastics, recreational gymnasts of ages 2 and up, competitive gymnasts at varying levels of skill, and world-class athletes.</p>
</div>
{% endblock content %}