{% extends "base.html" %}

{% block title %}Student Details{% endblock title %}
{% block content %}
<style>
	[role="row"] {
		text-transform: capitalize;
	}
</style>
<div class="container">
	<br>
	<h4 class="card-title mt-3 text-center">Student</h4>
	<hr>
	<!-- Alerts -->
	{% include 'accounts/_alerts.html' %}
    {% csrf_token %}
    <h2>{{ teacher_profile.user.get_full_name }}</h2>
    <hr />
    {{ teacher_profile.user.profile_picture }}
    <h3>Username : {{ teacher_profile.user.username }}</h3>
    <h3>Email : {{ teacher_profile.email}}</h3>
    <h3>Class : {{ teacher_profile.standard}}</h3>
    <h3>Division : {{ teacher_profile.division}}</h3>
    <h3>Rollnumber : {{ teacher_profile.rollnumber}}</h3>
    <h3>Admission_number : {{ teacher_profile.admission_number}}</h3>
    <h3>Register_number : {{ teacher_profile.register_number}}</h3>
    <h3>Address : {{ teacher_profile.user.address}}</h3>
	
</div>
{% endblock content %}
{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/buttons.bootstrap4.min.css' %}">

<script type="text/javascript" src="{% static 'accounts/js/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'accounts/js/listing.js' %}"></script>
{% endblock scripts %}